.body-form {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.buttons-form-permission {
  margin-top: 15px;
  justify-content: flex-end;
  display: flex;
  gap: 10px
}

.permission-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}